.mainindex{
    position: absolute;
    margin-top: 180px;
text-align: center;
    width: 100%;
    height: max-content;
    align-content: center;
    /* background-color: rgb(18, 18, 18); */
   
}
.index{
    /* align-self: center; */
    width: 90%;
    margin-left: 5%;
}
.h1{
padding: 20px;
font-size: 62px;
    background: -webkit-linear-gradient(#120088,#6cf7e9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* color: aqua; */
}
.h3 {
    padding: 20px;
    /* color: aqua; */
}
.h5 {
padding: 20px;
/* color: aqua; */
}
@media only screen and (max-width:1000px) {
    .mainindex {
            position: absolute;
            margin-top: -10px;
            text-align: center;
            width: 100%;
            height: max-content;
            align-content: center;
            /* background-color: rgb(18, 18, 18); */
    
        }
}