.nav {
    /* box-shadow: 13px 1px 1px 133px; */
    color: #fff;
    padding: 10px;
    position: fixed;
    width: 100%;
    /* background-color: #ffffff; */
    /* background: #ECE9E6;
      
    background: -webkit-linear-gradient(to left, #f8ffff, #f1ffff);
    
        background: linear-gradient(to left, #f8ffff,#f1fffe); */
      
}
.B {
    /* border: 1px solid black; */
        display: inline-block;
        width: 100px;
        height: 100px;
        overflow: hidden;
        border-radius: 100px;
        align-self: center;
        margin-top: 10px;
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: right;
    margin: 0;
    /* background-color: #000000; */
}

li {
    margin: 0 10px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    padding-top: 10px;
    padding: 10px;
}
.li{
    margin: 0 40px;
        color: black;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: large;
        padding-top: 10px;
        padding: 10px;
}
.user {
    display: flex;
    margin-left: auto;
    margin-right: 20px;
}

.pro {
    width: 50px;
    height: 60px;
}
.bi:hover{
padding: 1.5px;
}
.navButtons {
    margin-top: 5px;
    margin-right: 40px;
    
}


.navButton {
    /* display: inline-block; */
    position: relative;
   
}

.navButton:after {
    /* background-color: rgb(185, 243, 255); */
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color:
        #00532f53;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;

}

.navButton:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

a {
    cursor: pointer;
}

/* .nav-item:focus {
    background-color: rgb(3, 165, 201);
    color: black;
    box-shadow: 500px 0px 1px rgb(3, 165, 201);
} */
/* .sidelinks:focus {
    background-color: rgb(3, 165, 201);
    color: black;
    box-shadow: 23px 0px 0px rgb(3, 165, 201);
} */
.sidelinks{
    padding: 15px;
    width:100%;
    display: flex;
}
.nav-item {
    margin-top: 20px;
    margin-right: 0px;
    margin-left: -10px;
    padding: 20px;
    width: max-content;
    display: flex;
}

.navlinks {
    /* background-color: #33d4f1; */
    border: 1px solid teal;
    padding: 10px;
    color:teal;
    width: 50%;
    border-radius: 5px;
    padding-left: 17px;
    padding-right: 17px;
    text-align: "center";
}

.navlinks:hover {
    background-color: #e3fcfc;
    transition: .5s;
    color:teal;
}

.navlinksubmit {
    background-color: #33d4f1;
    border: 1px solid #33d4f1;
    padding: 10px;
    color: #000000;
    width: 50%;
    border-radius: 5px;
    padding-left: 17px;
    padding-right: 17px;
    text-align: "center";
}

.navlinksubmit:hover {
    background-color: #75eaff;
    transition: .2s;
    color: #000000;

}

.bi {
    color: black;
    border-radius: 100px;
    background-color: #ffffff;
    margin-top: 15px;
    margin-right: 80px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 2px solid black;
}
.skillbutton{
    display: flex;
    justify-content: space-around;
    margin-top: 50px

}
.nextbutton{
    display: flex;
    justify-content: center;
    margin-top: 150px
}
.side {
    background-color: #e7fffe;
    background: -webkit-linear-gradient(to left, #f8ffff, #eefffe);
    background: linear-gradient(to left, #f5fffe, #edfffe);
    width: 20%;
    margin-top: 85px;
    flex: 0 0 auto;
}
.side-container {
    display: flex;
}
.content {
    width: 40%;
    height:0px;
    background-color: "#eeeeee";
margin-top: 100px;
margin-right: 40px;
margin-left: 50px;

}
.resumelive{
    width:40%;
    margin-top: 100px;
    height:630px;
}

.mainhome {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    
}

.righthome {
    width: 35%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/resume.gif');
    margin-top: 100px;

}

.lefthome {
    width: 60%;
    height: auto;
    margin-top: 100px;
    /* text-align: center; */
}

.text {
    font-size: xx-large;
    font-family: 'cursive';
    font-style: oblique;
}

.h2 {

    background: -webkit-linear-gradient(#390caa, #e92828);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px;
    padding-top: 30px;
    font-style: oblique;
}

.h1 {
    font-size: 17px;
    padding-top: 30px;
    font-style: oblique;
    /* text-align: center; */
    
    
}
.h3 {
    font-size: 17px;
    padding-top: 30px;
    font-style: oblique;
}
.text {
    padding: 10px;
    /* font-size: 20px; */
    padding-top: 30px;
    /* background: -webkit-linear-gradient(#4ef500, #08cccc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}
.temptext{
padding-top: 110px;
text-align: center;
}
.templates{
    display: flex;
    margin-top: 50px;
    justify-content:space-between;
    background-color: #d5d5d5;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.template1{
    width:24%;
    height: 500px;
    background-image: url('../images/Temp1.png');
    background-repeat: no-repeat;
    background-size:cover;
    cursor: pointer;
}
.template2  {
    width: 24%;
    height: 500px;
    background-image: url('../images/Temp2.png');
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.template3 {
    width: 24%;
    height: 500px;
    background-image: url('../images/Temp3.png');
    background-repeat: no-repeat;
    background-size:cover;
    cursor: pointer;
}
.template4 {
    width: 24%;
    height: 500px;
    background-image: url('../images/Temp4.png');
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.templatenext{
    border: 1px solid #00d1f6;
        padding: 10px;
        color: #00d9ff;
        width: 10%;
        border-radius: 5px;
        padding-left: 17px;
        padding-right: 17px;
        text-align: "center";
}
.form-group{
    margin-bottom: 25px;
}
.checkbox{
    width: 3%;
    height: 20px;
}
.checklabel{
   margin-left: 20px;
}
.form-group-checkbox{
padding: 10px;
display: flex;
margin-bottom: 10px;
}
label{
    font-family:'cursive';
    font-size: large;
}
.error-message{
    color: red;
}
.saved{
    margin-left: 5px;
    margin-top: 12px;
    font-size: large;
    color:blue;
}
 .vertical {
     border-right: 5px solid beige;
     border-color:#00adb5;
     height: 200px;
     margin-right: 10px;
 }
 .skills-list{
    font: size 10px;
    /* padding-left: 1000px; */
 }
@media only screen and (max-width: 1035px) {
    li {
    margin: 0 -25px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    padding-top: 10px;
    padding: 10px;
}
.li{
    margin: 0 0px;
        color: black;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: large;
        padding-top: 10px;
        padding: 10px;
}
    .text {
        font-size: xx-large;
        font-family: 'cursive';
    }

    .h2 {
        font-size: 12px;
        /* padding-top: 1px; */
        padding-top: 150px;
        background: -webkit-linear-gradient(#390caa, #e92828);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 4px;
        /* padding-top: 15px; */
    }

    .h1 {
        font-size: 1px;
        /* padding-top: 1px; */
    }

    .righthome {
        width: 1%;
        height: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('../images/resume.gif');

    }

    .mainhome {
        width: 100%;
        height: auto;
        /* display: flex; */
        /* justify-content: center; */
    }

    .lefthome {
        width: 100%;
        height: auto;
        text-align: center;
    }

    ul {
        /* list-style: none; */
        align-items: right;
        margin: 0;

       
        /* padding: 30; */
    }

    li {
        margin: 0 0px;
        color: black;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: large;
        /* padding-top: 10px; */
        /* padding: 10px; */
    }

}
@media only screen and (max-width: 800px) {
.navButtons {
        margin-top: 5px;
        /* margin-right: 40px; */
    }
        .user {
            display: flex;            
        }
        ul{
            padding-right: 0;
            align-items:center;
        }
                .templates {
                    display: block;
                    /* margin-top: 50px; */
                    justify-items: center;
                    background-color: #ffffff;
                    
                    /* padding: 10px;
                    padding-top: 15px;
                    padding-bottom: 15px; */
                }
                                .template1 {
                                    width: 60%;
                                    height: 400px;
                                    background-image: url('../images/template.jpg');
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    cursor: pointer;
                                    align-self: center;
                                    margin-bottom: 20px;
                                    margin-left: 23%;
                                }
                
                                .template2 {
                                    width: 60%;
                                    height: 400px;
                                    background-image: url('../images/template2.jpg');
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    cursor: pointer;
                                    margin-bottom: 20px;
                                    margin-left: 23%;
                                }
                
                                .template3 {
                                    width: 60%;
                                    height: 400px;
                                    background-image: url('../images/template3.jpg');
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    cursor: pointer;
                                    margin-bottom: 20px;
                                    margin-left: 23%;
                                }
                
                                .template4 {
                                    width: 60%;
                                    height: 400px;
                                    background-image: url('../images/template4.jpg');
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    cursor: pointer;
                                    margin-bottom: 20px;
                                    margin-left: 23%;
                                }
}
@media only screen and (max-width: 590px) {
    .templates {
        display: block;
        /* margin-top: 50px; */
        justify-items: center;
        background-color: #ffffff;

        /* padding: 10px;
                    padding-top: 15px;
                    padding-bottom: 15px; */
    }

    .template1 {
        width: 80%;
        height: 400px;
        background-image: url('../images/template.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        align-self: center;
        margin-bottom: 20px;
        margin-left: 15%;
    }

    .template2 {
         width: 80%;
        height: 400px;
        background-image: url('../images/template2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        margin-bottom: 20px;
        margin-left: 15%;
    }

    .template3 {
        width: 80%;
        height: 400px;
        background-image: url('../images/template3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        margin-bottom: 20px;
        margin-left: 15%;
    }

    .template4 {
        width: 80%;
        height: 400px;
        background-image: url('../images/template4.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        margin-bottom: 20px;
        margin-left: 15%;
    }
}