.nav {
    /* box-shadow: 13px 1px 1px 133px; */
    color: #fff;
    padding: 10px;
    position: fixed;
    width: 100%;
    /* background-color: #ffffff; */
    /* background: transparent; */
    background: #ECE9E6;
        /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f8ffff, #d8fffd);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #f8ffff,#ddfffe);
        /* Chrome 10-25, Safari 5.1-6 */
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: right;
    margin: 0;
    /* background-color: #000000; */
}

li {
    margin: 0 30px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    padding-top: 10px;
    padding: 10px;
}

.user {
    display: flex;
    margin-left: auto;
}

.pro {
    width: 50px;
    height: 60px;
}

.navButtons {
    margin-top: 5px;
    margin-right: 40px;
}


.navButton {
    /* display: inline-block; */
    position: relative;
    color:
        #0087ca;
}

.navButton:after {
    /* background-color: rgb(185, 243, 255); */
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color:
        #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;

}

.navButton:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

a {
    cursor: pointer;
}

.nav-link:focus {
    background-color: rgb(3, 165, 201);
    color: black;
    box-shadow: 10px 0px 1px rgb(3, 165, 201);
    ;


}

.nav-item {
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
}

.navlinks {
    /* background-color: #33d4f1; */
    border: 1px solid #00d1f6;
    padding: 10px;
    color: #00d9ff;
    width: 50%;
    border-radius: 5px;
    padding-left: 17px;
    padding-right: 17px;
    text-align: "center";
}

.navlinks:hover {
    background-color: #e3fcfc;
    transition: .5s;
    color: #02c4e6;
}

.navlinksubmit {
    background-color: #33d4f1;
    border: 1px solid #33d4f1;
    padding: 10px;
    color: #000000;
    width: 50%;
    border-radius: 5px;
    padding-left: 17px;
    padding-right: 17px;
    text-align: "center";
}

.navlinksubmit:hover {
    background-color: #75eaff;
    transition: .2s;
    color: #000000;

}

.bi {
    color: black;
    border-radius: 100px;
    background-color: #ffffff;
    margin-top: 15px;
    margin-right: 80px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 2px solid black;
}
.side {
    background-color: #ddfffe;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f8ffff, #d8fffd);

    background: linear-gradient(to left, #f5fffe, #ddfffe);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 20%;
    margin-top: 80px;
    /* box-shadow: 0px 0.5px 5px rgba(0, 0, 0, 0.3); */
    /* box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.3); */
    /* height:auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); */
    /* Adjust the values as needed */

}
.content {
    /* box-shadow: 0.5px 0px 5px rgba(0, 0, 0, 0.3); */
    width: 40%;
    height: auto;
    background-color: "#eeeeee";
margin-top: 100px;
margin-right: 40px;
margin-left: 50px;

}
.resumelive{
    width:40%;
    margin-top: 100px;
}

.mainhome {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    
}

.righthome {
    width: 35%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/resume.gif');
    margin-top: 100px;

}

.lefthome {
    width: 60%;
    height: auto;
    margin-top: 100px;
    /* text-align: center; */
}

.text {
    font-size: xx-large;
    font-family: 'cursive';
}

.h2 {
    font-size: 72px;
    padding-top: 40px;
    background: -webkit-linear-gradient(#390caa, #e92828);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.h1 {
    font-size: 20px;
    padding-top: 30px;
}

.text {
    /* font-size: 20px; */
    padding-top: 30px;
    /* background: -webkit-linear-gradient(#4ef500, #08cccc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}
.temptext{
padding-top: 110px;
text-align: center;
}
.templates{
    display: flex;
    margin-top: 50px;
    justify-content:space-between;
    background-color: #d5d5d5;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.template1{
    width:24%;
    height: 500px;
    background-image: url('../images/template.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    cursor: pointer;
}
.template2  {
    width: 24%;
    height: 500px;
    background-image: url('../images/template2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.template3 {
    width: 24%;
    height: 500px;
    background-image: url('../images/template2.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    cursor: pointer;
}
.template4 {
    width: 24%;
    height: 500px;
    background-image: url('../images/template2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.templatenext{
    border: 1px solid #00d1f6;
        padding: 10px;
        color: #00d9ff;
        width: 10%;
        border-radius: 5px;
        padding-left: 17px;
        padding-right: 17px;
        text-align: "center";
}
.form-group{
    margin-bottom: 25px;
}
.checkbox{
    width: 3%;
    height: 20px;
}
.checklabel{
   margin-left: 20px;
}
.form-group-checkbox{
padding: 10px;
display: flex;
margin-bottom: 10px;
}
label{
    font-family:'cursive';
    font-size: large;
}
@media only screen and (max-width: 1035px) {
    .text {
        font-size: xx-large;
        font-family: 'cursive';
    }

    .h2 {
        font-size: 12px;
        /* padding-top: 1px; */
        padding-top: 150px;
        background: -webkit-linear-gradient(#390caa, #e92828);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 4px;
        /* padding-top: 15px; */
    }

    .h1 {
        font-size: 1px;
        /* padding-top: 1px; */
    }

    .righthome {
        width: 1%;
        height: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('../images/resume.gif');

    }

    .mainhome {
        width: 100%;
        height: auto;
        /* display: flex; */
        /* justify-content: center; */
    }

    .lefthome {
        width: 100%;
        height: auto;
        text-align: center;
    }

    ul {
        /* list-style: none; */
        align-items: right;
        margin: 0;
        /* padding: 30; */
    }

    li {
        margin: 0 0px;
        color: black;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: large;
        /* padding-top: 10px; */
        /* padding: 10px; */
    }

}
@media only screen and (max-width: 830px) {
.navButtons {
        margin-top: 5px;
        /* margin-right: 40px; */
    }
        .user {
            display: flex;            
        }
        ul{
            padding-right: 0;
            align-items:center;
        }
}