
a {
    text-decoration: none;
    color: black;
}

hr {
    background: grey;
}

#container {
    position: absolute;
    display: flex;
    padding: -50;
    border: 5px solid rgb(214, 214, 214);
}

#profile {
    flex: 15%;
    display: block;
    position: relative;
    margin: 5% 2% 0 3%;
    width:auto;
    /* max-width: 120%; */
    height: 100%;
    padding: 1px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .1);
        /* overflow-x: hidden; */
        margin-bottom: 1%;
        /* padding: 15px 30px 30px 30px; */
}

#info-cards {
    flex: 55%;
    display: block;
    margin-top: 5%;
    margin-right: 5%;
    width: 100%;
    height: 100%;
    
}

#image {
    position: relative;
    overflow: hidden;
}

#image,
#profile-photo {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

#image>a {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5) ;
    height: 100%;
    width: 100%;
    display: none;
}

#image>a>i {
    -webkit-text-stroke: 1px #ffffffdd;
    padding: 40%;
}

#image:hover a {
    display: block;
}

#name {
    font-size: 12px ;
    width: 160px;
    line-height: 20px ;
}

#about,
.card>ul>li {
    padding: 0 0 0 15px;
    /* position: relative; */
    /* display: inline-block; */
    width: 100%;
}

#about {
    font-size: 12px ;
    padding: 0 ;
}

#name,
#about>p {
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
}

#email {
    font-size: 12px ;
    font-weight: bold ;
    font-family: 'Cutive Mono', monospace;
}

#college,
#email,
#year-graduation,
#education,
#more-about,
#telephone,
#fax {
    color: #555;
    font-size: 11.5px;
}

strong,
span {
    color: black;
    font-size: 12px;
}

#social-links,
#about {
    display: inline-block;
}

#social-links {
    margin-bottom: 12px;
}

#social-links a {
    margin: 0 10px;
}

#edit-intro {
    display: block;
    color: #097bbf;
    font-family: 'Nunito', sans-serif;
}

.fab {
    font-size: 1.1em;
}

.fab,
.fas {
    color: whitesmoke;
}

#about>a {
    top: 4px;
    right: 8px;
}

.edit {
    top: 19px;
    right: 10px;
}

#about>a,
.edit {
    position: absolute;
    font-size: 12px 
    ;
}

.stroke-transparent {
    -webkit-text-stroke: 1px #000;
    -webkit-text-fill-color: transparent;
}

.blue {
    color: #097bbf ;
    
    font-size: 11px;
}

.stroke-transparent-blue {
    -webkit-text-stroke: 1px #097bbf;
    -webkit-text-fill-color: transparent;
}

.card {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .1);
    overflow-x: hidden;
    margin-bottom: 1%;
    padding: 15px 30px 30px 30px;
    background-color: #ffffff;
    width: 50;
}

.card>p {
    color: #0e141e;
    font-weight: bolder;
    font-size: 19px;
    /* line-height: 2; */
}

.card>p>i {
    font-size: 20px;
}
.card>a {
    font-weight: 400;
    font-size: 12px;
    margin: 0;
    margin-left: 25px;
    padding: 0;
    border: 0;
    height: auto;
    background: transparent;
    color: #097bbf;
    outline: none;
    cursor: pointer;
}

.card>ul {
    list-style-type: none;
display: inline;
margin-left: -60px;
}
.ulflex{
    width: 300px;
    display: flex;
}
.tags {
    font-size: 12px;
    font-weight: bolder;
    display: block;
}

.tags~a {
    display: none;
}

/* .tags span {
    font-size: 12px;
    font-weight: normal;
    color: #0e141e;
}

.tags span span {
    color: #738f93;
} */

@media screen and (max-width:1090px) {
    #profile {
        margin-left: 5%;
    }
}

@media screen and (max-width:850px) {
    #container {
        display: block;
    }

    #profile {
        width: 90%;
    }

    .card {
        margin: 0 5%;
        margin-bottom: 0px;
    }
}